<!-- <br>
<h4>Labels</h4>
<ul class="table-view">
  <% @labels.each do |label| %>
    <li class="table-view-cell media">
      <a class="navigate-right">
        
        <span class="badge">5</span>
	    <div class="media-body">
	      <p><%= label['name'].capitalize %></p>
	    </div>
	  </a>
	</li>
  <% end %>
</ul> -->