<h1>Labels</h1>
<ul>
	<% @labels.each do |label| %>
		<li><%= label['name'].capitalize %></li>
	<% end %>
</ul>

<h1>Messages (<%= @inbox_size %>)</h1>
<ul>
	<% @messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
</ul>

