<!-- HEADER CONTENT -->
<% content_for :header_left do %>
  <%= link_to messages_path, class: 'icon icon-left-nav pull-left' do %><% end %>
<% end %>
<% content_for :header_title do %>
  <%= shorten(@subject) %>
<% end %>

<% content_for :body do %>
	<ul class="msg-view">	
		<% @ordered_threads.each do |date, email| %>
			<%= render 'messages/list_thread', :email => email, :date => date %>
		<% end %>
	</ul>
		<!-- RESPONSE BUBBLE BELOW 
		<div class="clear"></div>
		<div class="from-me">
		  <p>Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
		</div>
		-->
<% end %>

<% content_for :lower_nav do %>
	<%= render 'layouts/lowernav_response' %>
<% end %>