<!-- HEADER CONTENT -->
<% content_for :header_left do %>
  <%= link_to messages_path, class: 'icon icon-left-nav pull-left', :"data-transition" => "slide-out" do %><% end %>
<% end %>
<% content_for :header_title do %>
  <%= shorten(@subject) %>
<% end %>

<% content_for :body do %>
	<div class="segmented-control">
	  <a class="control-item active" href="#item1mobile">
	    Thing one
	  </a>
	  <a class="control-item" href="#item2mobile">
	    Thing two
	  </a>
	  <a class="control-item" href="#item3mobile">
	    Thing three
	  </a>
	</div>
	<div class="card">
	  <span id="item1mobile" class="control-content active">
	  	<ul class="msg-view">	
			<% @ordered_threads.each do |date, email| %>
				<%= render 'messages/list_thread', :email => email, :date => date %>
			<% end %>
		</ul>
	  </span>
	  <span id="item2mobile" class="control-content">Item 2</span>
	  <span id="item3mobile" class="control-content">Item 3</span>
	</div>
	
		<!-- RESPONSE BUBBLE BELOW 
		<div class="clear"></div>
		<div class="from-me">
		  <p>Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
		</div>
		-->
<% end %>

<% content_for :lower_nav do %>
	<%= render 'layouts/lowernav_response' %>
<% end %>