/* Mixins */

@mixin body-text($color) {
	color: $color;
	padding:10px 20px;
	margin-bottom: 0px;
}

@mixin standard-text {
	color: #777;
	font-size: 14px;
}

@mixin image-circle {
	background-color: rgb(75,193,174);
	border-radius: 50px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Response Nav */

.bar.bar-tab {
	.send-msg {
		padding: 5px 8px;

		input {
			float: left;
			width: 83%;
			@include standard-text;
			height: 40px;
			margin-bottom: 0px;
			padding: 5px;
		}

		button {
			float: right;
			@include standard-text;
			padding: 5px 10px;
			text-align: center;
			white-space: nowrap;
			vertical-align: top;
			cursor: pointer;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 3px;
		}
	}
}

/* Index */

.name-image {
	height: 40px; 
	width: 40px;

	p {
		color: white;
		text-align: center;
	}

	.one {
		height: 100%; 
		width: 100%;
		@include image-circle;

		> p {
			font-size: 18px;
			line-height: 40px;
		}
	}

	.mult {
		display: inline-block;
		height: 17.5px; 
		width: 17.5px;
		@include image-circle;

		> p {
			font-size: 9px;
			line-height: 17.5px;
		}

		&.plus {
			background-color: white;

			> p {
				color: rgb(75,193,174);
				border: 1px solid rgb(75,193,174);
				border-radius: 50px;
			}
		}
	}


}

/* Show Message */

.card {
	margin: 10px 10px 60px 10px !important;
}

.msg-view {
	padding: 5px 5px 10px 5px; 

	.msg-view-cell {
		@include standard-text;
		padding: 5px;
		list-style-type: none;

		.msg-header {
			padding: 2px;
			margin-bottom: 5px;
			border-bottom: 1px solid #777;

			p {
				display: inline;
			}

			.msg-from {
				font-weight: bold;
				color: black;
			}

			.msg-day {
				float: right;
			}
		}

		> div {
				@include standard-text;
			}
	}
}



