/* Mixins */

@mixin body-text($color) {
	color: $color;
	padding:10px 20px;
	margin-bottom: 0px;
}

@mixin standard-text {
	color: #777;
	font-size: 14px;
}

@mixin image-circle {
	background-color: rgb(75,193,174);
	border-radius: 50px;
}

@mixin circle-plus {
	&.plus {
		background-color: white;

		> p {
			color: rgb(75,193,174);
			border: 1px solid rgb(75,193,174);
			border-radius: 50px;
		}
	}
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.typing-indicator {
  $ti-color-bg: #E6E7ED;
  background-color: white;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  display: table;
  margin: 0 auto;
  position: relative;
  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}){
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}
@keyframes blink{
  50% {
    opacity: 1;
  }
}
@keyframes bulge{
  50% {
    transform: scale(1.05);
  }
}
// vertically center demo 
html {
  display: table;
  height: 100%;
  width: 100%;
}
body {
  display: table-cell;
  vertical-align: middle;
}

/* Application Layout */

.content {
	padding-bottom: 50px;
}



/* Header Nav */

header.bar.bar-nav {
	border-bottom: none;
}



/* Response Nav */

.bar.bar-tab {
	.send-msg {
		padding: 5px 8px;

		input {
			float: left;
			width: 83%;
			@include standard-text;
			height: 40px;
			margin-bottom: 0px;
			padding: 5px;
		}

		button {
			float: right;
			@include standard-text;
			padding: 5px 10px;
			text-align: center;
			white-space: nowrap;
			vertical-align: top;
			cursor: pointer;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 3px;
		}
	}
}

/* Index */

ul.table-view {
	margin-bottom: 0px;
}

.name-image {
	height: 40px; 
	width: 40px;

	p {
		color: white;
		text-align: center;
	}

	.one {
		height: 100%; 
		width: 100%;
		@include image-circle;
		@include circle-plus;

		> p {
			font-size: 18px;
			line-height: 40px;
		}
	}

	.mult {
		display: inline-block;
		height: 17.5px; 
		width: 17.5px;
		@include image-circle;
		@include circle-plus;

		> p {
			font-size: 9px;
			line-height: 17.5px;
		}
	}
}

a.email-summary {
	cursor: pointer;
}

/* Show Message */

.card {
	margin: 10px 10px 30px 10px !important;

	&.timecard {
		border: none;
		margin: 10px 10px 2px 10px !important; 
		text-align:center;
		.msg-time {
			margin: 0 auto;
			font-size: 10px;
		}
	}
}

.all-participants {
	width: 93%;
	margin: 10px auto;
	margin-bottom: 30px;
	border: 1px solid #ccc;
  	border-radius: 3px;
  	text-align: left;
  	background-color: rgb(240,240,240);

  	p {
  		font-size: 12px;
  		padding: 5px;
  		margin-bottom: 0px;
  	}
}

.msg-view {
	padding: 0px 5px 10px 5px;
	margin: 5px; 

	.msg-view-cell {
		@include standard-text;
		padding: 5px;
		list-style-type: none;

		.msg-header {
			padding: 2px;
			margin-bottom: 5px;
			border-bottom: 1px solid #777;

			p {
				display: inline;
			}

			.msg-from {
				font-weight: bold;
				color: black;
			}
		}

		> div {
				@include standard-text;
			}
	}
	
}



