<header class="bar bar-nav">
	<% if logged_in? %>
		<a class="icon icon-left-nav pull-left" href="/index.html" data-transition="slide-out"></a>
      	<a class="icon icon-compose pull-right"></a>
	<% end %>
      	<h1 class="title">Email Chat</h1>
</header>