<header class="bar bar-nav">
	<% if logged_in? %>
		<%= yield :header_left %>
		<a class="icon icon-compose pull-right"></a>
	<% end %>
    <h1 class="title"><%= yield :header_title %></h1>
</header>


